@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=New+Rocker&family=Righteous&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body{
    background-color: var(--grey);

}

:root{
    --black: #191B1F;
    --grey: #2B2E33;
    --white: #fafafa;
    --orange: #F5821F;
}

.center-flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.column{
    flex-direction: column;
}

/* navbar */

.header{
    position: fixed;
    width: 100%;
    height: 5rem;
    background-color: var(--black);
}

.navbar_menu{
    justify-content: space-between;
    height: 5rem;
}


.logo{
    height: 5rem;
    width: 5rem;
    color: var(--white);
}

.logo a, i{
    color: var(--white);
    cursor: pointer;
}

.navbar_options{
    width: 25rem;
    gap: 1rem;
}

.navbar_options a{
    color: var(--white);
}

/* menus */
.menu-navbar-icon{
    display: none;
}


.user-menu{
    position: absolute;
    top: 5rem;
    right: 0;
    padding: 50px 30px;
    display: flex;
    flex-direction: column;
    height: 26rem;
    z-index: 2;
    min-width: 25rem;
    transform: translate(200%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    background-color: var(--grey);
}

.user-menu::-webkit-scrollbar {
    display: none;
  }

.user-menu-icon{
    height: 10rem;
    width: 10rem;
    background-color: var(--black);
    border-radius: 100%;
    cursor: pointer;
}

.user-menu-icon i{
    color: var(--white);
    font-size: 5rem;
}

.user-name{
    color: var(--white);
    margin: 1rem;
}

.logout-menu-icon i{
    color: var(--black);
    cursor: pointer;
}

.logout-button{
    height: 2rem;
    width: 10rem;
    border-radius: 0.7rem;
    cursor: pointer;
    font-family: 'New Rocker', cursive;
    margin: 1rem;
    border: none;

}

.logout-button:hover{
    transition: 0.5s;
    background-color: var(--orange);
    transform: scale(1.2);
}

.open-user-menu{
    transform: translate(0%);
    transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
}

/* hero */

.hero-container{
    height: 44rem;
    width: 100%;
    overflow: hidden;
    background: url(/imgs/sponsors/moto-hero.jpg) no-repeat center;
}

.hero{
    width: 100%;
    height: 100%;
    color: var(--white);
}

.hero_title{
    font-family: 'New Rocker', cursive;
    font-size: 5rem;
}

/* sponsors */

.sponsor_title_container{
    padding-top: 2rem;
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: center;
}

.sponsors_container{
    min-height: 20rem;
}

.sponsor_icon_container{
    padding-top: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    flex-wrap: wrap;
}

.sponsor{
    height: 10rem;
    width: 10rem;
    cursor: pointer;
}

.sponsor:hover{
    transition: 0.5s;
    transform: scale(1.2);
}

.sponsor_img1{
    background: url(/imgs/sponsors/honda-logo.png) no-repeat center;
}

.sponsor_img2{
    background: url(/imgs/sponsors/ducati-logo.png) no-repeat center;
}

.sponsor_img3{
    background: url(/imgs/sponsors/Harley-Davidson-Logo.png) no-repeat center;
}

.sponsor_img4{
    background: url(/imgs/sponsors/BMW-Logo.png) no-repeat center;
}

.sponsor_img5{
    background: url(/imgs/sponsors/suzuki-logo.png) no-repeat center;
}

.sponsor_title{
    font-size: 3rem;
    color: var(--white);
    font-family: 'New Rocker', cursive;
}

/* filtros */

.categories-container{
    min-height: 20rem;
    flex-wrap: wrap;
    background-color: var(--black);
}

.categories{
    justify-content: space-around;
	margin: auto;
    flex-wrap: wrap;

}

.category {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 150px;
	height: 170px;
	border-radius: 15px;
	background-color: var(--grey);
	border: none;
	transition: 0.05s all ease-out;
    margin-top: 2rem;
}

.category:hover {
	transform: scale(1.02);
}

.active {
	background: #4d4d4d;
}

.category h4 {
	font-size: 1rem;
    color: var(--white);
    margin: 1rem;
}

.category .divider-categories {
	width: 24px;
	height: 4px;
	background: var(--orange);
	border-radius: 15px;
}

.categories-container h5{
    font-size: 1.5rem;
    padding: 2rem 0 0 2rem;
    color: var(--white);
    font-family: 'New Rocker', cursive;
}

@media (min-width: 320px) and (max-width: 450px)  {
    .sponsor_title{
        font-size: 2rem;
    }
}

@media (min-width: 320px) and (max-width: 500px)  {
    .hero_title{
        font-size: 2.2rem;
    }
}

@media (min-width: 500px) and (max-width: 700px)  {
    .hero_title{
        font-size: 3.5rem;
    }
}

@media (max-width: 768px) {
    .navbar_options{
        height: 15rem;
        width: 100%;
        flex-direction: column;
        background-color: var(--grey);
        position: absolute;
        top: 5rem;
        transform: translateY(-200%);
        transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    }

    .open-navbar-menu{
        transform: translateY(0%);
        transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99);
    }

    .menu-navbar-icon{
        display: flex;
        margin: 2rem;
    }

    .menu-navbar-icon i{
        font-size: 1.5rem;
    }
}
